<!--ENCABEZADO-->

<nav>
  <div class="nav__content">
    <div class="logo">
      <a href="#">FIXURA</a>
    </div>
    <label for="check" class="checkbox">
      <i class="ri-menu-line"></i>
    </label>
    <input type="checkbox" name="check" id="check" />
    <ul>
      <li><a href="#services">Servicios</a></li>
      <li><a href="#plans">Planes</a></li>
      <li><a href="#contacts">Contactos</a></li>
    </ul>
    <div class="auth_buttons">
      <a [routerLink]="['/login']">Iniciar Sesión</a>
      <a [routerLink]="['/register']" class="action_btn">Registrate</a>
    </div>
  </div>
</nav>

<!--SECCION DE BIENVENIDA-->

<section class="section">
  <div class="section_container">
    <div class="content">
      <h1 class="title">Te damos la <br />bienvenida a <span>Fixura</span></h1>
      <p class="description">
        Innovadora aplicación de social media que empodera a las comunidades
        para mapear y monitorear su infraestructura local en colaboración con su
        municipalidad. Únete a nuestra plataforma y colabora en tiempo real para
        mejorar tu entorno, promoviendo la participación ciudadana y el cuidado
        de la infraestructura que nos conecta a todos.
      </p>
      <div class="action_btns">
        <button class="contact_us">Contactanos</button>
      </div>
    </div>
    <div class="image">
      <img src="images/imageninicio.png" alt="profile" />
    </div>
  </div>
  <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div>
</section>

<!--SERVICIOS-->
<div class="sections" id="services">
  <div class="titles">
    <h1>Nuestros Servicios</h1>
  </div>
  <div class="service">
    <div class="card">
      <div class="icon">
        <i class="ri-road-map-line"></i>
      </div>
      <h2>Reporte de Incidencias en Infraestructura Pública</h2>
      <p>
        Brinda a los ciudadanos una herramienta fácil de usar para reportar
        problemas en carreteras, alumbrado público, señalización, y otros
        elementos urbanos. Los usuarios pueden geolocalizar las incidencias,
        agregar descripciones detalladas, e incluir fotos.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="ri-thumb-up-line"></i>
      </div>
      <h2>Monitoreo y Seguimiento de Incidencias</h2>
      <p>
        Permite a los ciudadanos y autoridades locales seguir el estado de los
        reportes en tiempo real. Los usuarios pueden ver el progreso de las
        reparaciones y mantenerse informados sobre las acciones tomadas para
        solucionar los problemas.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="ri-notification-2-line"></i>
      </div>
      <h2>Votación Comunitaria para Priorizar Reparaciones</h2>
      <p>
        Fomenta la participación ciudadana mediante un sistema de votación. Los
        usuarios pueden votar por las incidencias que consideran más urgentes,
        ayudando a las autoridades a priorizar las reparaciones de manera
        eficiente y democrática.
      </p>
    </div>
  </div>
</div>

<!--PLANES-->
<section class="pricing" id="plans">
  <h1 class="pricing-title">Nuestros Planes</h1>
  <div class="card-wrapper">
    <div class="card-header">
      <img src="images/start.png" alt="" />
      <h2>PLAN GRATUITO</h2>
    </div>
    <div class="card-detail">
      <p><i class="ri-check-line"></i> Reporte de Incidencias</p>
      <p><i class="ri-check-line"></i> Monitoreo de Estado de Incidencias</p>
      <p><i class="ri-close-line"></i> Votación de Prioridades</p>
      <p><i class="ri-close-line"></i> Acceso a Estadísticas de la Ciudad</p>
    </div>
    <div class="card-price">
      <p><sup>S/.</sup>0.00<sub>/mensual</sub></p>
    </div>
    <button class="card-button">OBTENER</button>
  </div>

  <div class="card-wrapper">
    <div class="card-header">
      <img src="images/progreso.png" alt="" />
      <h2>PLAN PLUS</h2>
    </div>
    <div class="card-detail">
      <p><i class="ri-check-line"></i> Reporte de Incidencias</p>
      <p><i class="ri-check-line"></i> Monitoreo de Estado de Incidencias</p>
      <p><i class="ri-check-line"></i> Votación de Prioridades</p>
      <p><i class="ri-close-line"></i> Acceso a Estadísticas de la Ciudad</p>
    </div>
    <div class="card-price">
      <p><sup>S/.</sup>25.00<sub>/mensual</sub></p>
    </div>
    <button class="card-button">OBTENER</button>
  </div>

  <div class="card-wrapper">
    <div class="card-header">
      <img src="images/premium.png" alt="" />
      <h2>PLAN GRATUITO</h2>
    </div>
    <div class="card-detail">
      <p><i class="ri-check-line"></i> Reporte de Incidencias</p>
      <p><i class="ri-check-line"></i>Monitoreo de Estado de Incidencias</p>
      <p><i class="ri-check-line"></i> Votación de Prioridades</p>
      <p><i class="ri-check-line"></i> Acceso a Estadísticas de la Ciudad</p>
    </div>
    <div class="card-price">
      <p><sup>S/.</sup>45.00<sub>/mensual</sub></p>
    </div>
    <button class="card-button">OBTENER</button>
  </div>
</section>

<!--CONTACTOS-->
<section class="section-contact" id="contacts">
  <div class="containerc">
    <h1>Contactanos!!</h1>
    <p>
      Si representas a una entidad municipal y deseas adquirir nuestros
      servicios, ingresa tus datos y contáctanos para coordinar la creación de
      tu cuenta.
    </p>

    <form>
      <div class="form-group">
        <label for="firstname">Nombre Completo*</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          required
          class="form-element"
          placeholder="Kevin"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Apellido Completo*</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          required
          class="form-element"
          placeholder="Doe"
        />
      </div>
      <div class="form-group">
        <label for="email">Correo*</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          class="form-element"
          placeholder="kevin.doe@example.com"
        />
      </div>
      <div class="form-group">
        <label for="cellphone">Celular</label>
        <input
          type="text"
          name="cellphone"
          id="cellphone"
          class="form-element"
          placeholder="987654321"
          min="0"
          inputmode="numeric"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
          maxlength="9"
          title="Por favor, ingresa solo números."
        />
      </div>
      <div class="form-group full">
        <label for="message">Escribe un Mensaje</label>
        <textarea
          name="message"
          id="message"
          class="form-element"
          placeholder="Escribir..."
        ></textarea>
      </div>
      <div class="submit-group">
        <input type="submit" value="Enviar" />
      </div>
    </form>
  </div>
</section>

<!--FOOTER-->
<footer>
  <div class="footerContainer">
    <div class="socialIcons">
      <a href=""><i class="ri-facebook-line"></i></a>
      <a href=""><i class="ri-instagram-line"></i></a>
      <a href=""><i class="ri-twitter-line"></i></a>
      <a href=""><i class="ri-google-line"></i></a>
      <a href=""><i class="ri-youtube-line"></i></a>
    </div>
    <div class="footerNav">
      <ul>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#plans">Planes</a></li>
        <li><a href="#contacts">Contactos</a></li>
        <li><a href="">Iniciar Sesión</a></li>
      </ul>
    </div>
  </div>
  <div class="footerBottom">
    <p>
      Copyright &copy;2024; Designed by <span class="designer">Fixura</span>
    </p>
  </div>
</footer>
