.cabecera-formulario{
  background-color: #24b4fb;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.formulario-ubicacion {
 background-color: white;
 padding: 15px;
}

.mapa {
  text-align: center;
  margin-left: 30px;
}

label {
  display: block;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;
}

.input-file-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  gap: 8px;
}

  .input-file-label input[type="file"] {
    display: none; /* Oculta el input real */
  }

.input-file-button {
  width: 40px; /* Ajusta el tamaño del botón según sea necesario */
  height: 40px;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.containter-alert{
  margin-top: 5px;
  height: 53px;
}

.preview-img {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  min-width: 250px;
  min-height: 250px;
  width: 250px;
  height: 250px;
}

/* Estilo boton */
button {
  margin-top: 15px;
}

.button {
  background-color: #24b4fb;
  color: #fff;
  width: 8.5em;
  border: none;
  height: 2.9em;
  border-radius: 11px;
  transition: all 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
}

.button:hover {
  background-color: #0071e2;
  border: #0071e2 0.2em solid;
  cursor: pointer;
}

.titulo-formulario{
  color: white;
}

.enviar-icon{
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.enviar-path{
  stroke:white
}
form{
  display: flex;
  flex-direction: column;
}
.camera-icon{
  width: 40px;
  height: 40px;
}
.button:hover .enviar-icon {
  margin-right: 1px;
  transition: margin-right 0.3s;
}
