<div class = "formulario-cuerpo">
  <div class="cabecera-formulario">
    <h2 class="titulo-formulario">Registro Incidencia</h2>
  </div>
  <div class="formulario-ubicacion">
    <!-- <div class="titulo-formulario">
      <h2>Registro Incidencia</h2>
    </div> -->
    <div id="map" class="mapa">
      <google-map 
          height="300px"
          width="94%"
          [center]="center" 
          [zoom]="zoom"
          
          (mapClick)="onUbicacionSeleccionada($event)">
          <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <label for="ubicacion">Ubicación seleccionada:</label>
      <input formControlName="ubicacion" type="text" readonly>
      <!--<p id="ubicacion">{{ ubicacionSeleccionada }}</p>-->
  
      <label for="categoria">Categoría:</label>
      <select formControlName="categoria" id="categoria">
        <option value="" disabled selected>Selecciona una categoría</option>
        <option *ngFor="let option of optionsCategory; let i = index" [value]="i + 1">{{ option.nombre }}</option>
      </select>
  
      <label for="descripcion">Descripción:</label>
      <textarea formControlName="descripcion" id="descripcion" placeholder="Danos una descripcion." class="bg-slate-100 text-slate-600 h-28 placeholder:text-slate-600 placeholder:opacity-50 border border-slate-200 col-span-6 resize-none outline-none rounded-lg p-2 duration-300 focus:border-slate-600"></textarea>
      
      <label for="foto" class="input-file-label">
        <input formControlName="foto" type="file" id="foto" name="foto" (change)="onFileSelected($event)">
        <svg class="camera-icon" viewBox="0 -2 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">  
            <desc>Created with Sketch Beta.</desc>
             <defs> </defs> 
             <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> 
              <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-258.000000, -467.000000)" fill="#000000"> 
                <path class="camera-path" d="M286,471 L283,471 L282,469 C281.411,467.837 281.104,467 280,467 L268,467 C266.896,467 266.53,467.954 266,469 L265,471 L262,471 C259.791,471 258,472.791 258,475 L258,491 C258,493.209 259.791,495 262,495 L286,495 C288.209,495 290,493.209 290,491 L290,475 C290,472.791 288.209,471 286,471 Z M274,491 C269.582,491 266,487.418 266,483 C266,478.582 269.582,475 274,475 C278.418,475 282,478.582 282,483 C282,487.418 278.418,491 274,491 Z M274,477 C270.687,477 268,479.687 268,483 C268,486.313 270.687,489 274,489 C277.313,489 280,486.313 280,483 C280,479.687 277.313,477 274,477 L274,477 Z" id="camera" sketch:type="MSShapeGroup"> </path> 
              </g> 
            </g> 
          </g>
        </svg>
        Agregar una foto para el reporte
      </label>
      <!-- Previsualización de la imagen cargada -->
      <div *ngIf="imagenPrevisualizacion" class="image-preview">
        <img [src]="imagenPrevisualizacion" alt="Previsualización" class="preview-img">
      </div>
      
      <button type="submit" [disabled]="formulario.invalid" class="button">
        <svg class="enviar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" style="transform: translateY(1px);" viewBox="0 0 24 24" stroke-width="1.5">
          <path class="enviar-path" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
        </svg>
        <div class="text">
          Subir
        </div>
      </button>
      
      
    </form>
  
  </div>
</div>

