.card-edit {
    height: auto;
    width: 25rem;
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 17px 17px 17px 17px;
    display: flex;
    flex-direction: column;
}

.card-edit > * {
    margin-bottom: 1rem; /* Espacio inferior entre cada elemento */
}

/*-----------------ComboBox--------------*/
.comboBox {
    position: relative;
    width: 100%;
}

.comboBox__selected {
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.comboBox__options {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comboBox__option {
    padding: 10px;
    cursor: pointer;
}

.comboBox__option:hover {
    background-color: #007bff;
    color: white;
}

.rotate-arrow {
    transform: rotate(180deg); /* Rota la flecha 180 grados */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.comboBox__selected svg {
    transition: transform 0.3s ease;
}
/*----------------------------------------*/

.card-edit__ubication {
    width: 100%; 
    box-sizing: border-box;
}

.mapa {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.mapa google-map {
    height: 100%; /* Asegúrate de que ocupe todo el espacio */
    width: 100%; /* Asegúrate de que ocupe todo el espacio */
    display: flex;
    justify-content: center;
}




/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}
  
  /* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}
  
  /* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
  
  /* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #24b4fb;
    transition: all 0.3s ease;
}
  
  /* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    color: #24b4fb;
}
  
.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}


.button-container {
    display: flex;
    justify-content: space-evenly;
}

/*----------------------------------------------*/
.reportes__button {
    border: none;
    width: 10rem;
    background-color: #24b4fb;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.5em 1.2em 0.5em 1em;
    transition: all ease-in-out 0.1s;
    font-size: 16px;
}
  
.reportes__button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
  
.reportes__button:hover {
    background-color: #0071e2;
}

.reportes__button:active {
    background-color: #0071e2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}
/*--------------------------------------------------------*/
.clear__button {
    border: none;
    width: 10rem;
    background-color: #d30707;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.5em 1.2em 0.5em 1em;
    transition: all ease-in-out 0.1s;
    font-size: 16px;
}
  
.clear__button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
  
.clear__button:hover {
    background-color: #a50000;
}

.clear__button:active {
    background-color: #a50000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.clear__button svg,  .reportes__button svg{
    margin-right: 10px;
}