<nav>
  <div class="nav__content">
    <div class="logo"><a href="#">Fixura</a></div>
  </div>
</nav>

<div class="container">
  <form class="form" (ngSubmit)="updatePassword()">
    <label>Nueva Contraseña</label><br>
    <input type="password" [(ngModel)]="newPassword" name="newPassword"><br>
    <label>Confirmar Nueva Contraseña</label><br>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"><br>
    <button type="submit">Cambiar Contraseña</button>
  </form>
</div>
