.card {
  height: 90px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px 17px 27px 27px;
}

.post {
  display: grid;
  grid-template-columns: 1fr 35px;
  gap: 20px;
  padding: 20px;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.post-container .user {
  display: grid;
  grid-template-columns: 40px 430px 1fr;
  gap: 10px;
}

.post-container .user .user-pic {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  overflow: hidden; /* Oculta los bordes excedentes de la imagen */
}

.post-container .user .user-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen y asegura que mantenga la proporción */
  object-position: center; /* Centra la imagen en el contenedor */
  border-radius: 50%;
}

.post-container .user .user-info {
  width: 100%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

.post-container .user .user-info span {
  font-weight: 700;
  font-size: 16px;
  color: #47484b;
}

.post-container .user .user-info p {
  font-weight: 600;
  font-size: 11px;
  color: #acaeb4;
}

.post-container .user .user-options img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
}
