<div class="card">
  <div class="post">
      <div class="post-container">
          <div class="user">
              <div class="user-pic">
                  <img src="https://raw.githubusercontent.com/KevinGM02/Galeria-Imagenes-Fixura/main/perfil/perfil_default.png" alt="Foto de perfil">
              </div>
              <div class="user-info">
                  <span>{{usuario?.nombre}} {{usuario?.apellido}}</span>
                  <p>{{usuario?.correo}}</p>
              </div>
              <div class="user-options">
                <img src="/images/options.svg" alt="Opciones">
              </div>
          </div>
      </div>
  </div>
</div>
