.navbar {
    background: #ffffff;
    position: fixed;
    right: 0px;
    z-index: 1000;
    height: 75px;
    width: 100%;
    padding: 0 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo a {
    font-size: 20px;
    font-weight: 600;
    color: #249afb;
}

.navbar__logo a:hover {
    color: #2456fb;
}


.navbar__menu {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px; 
    box-sizing: border-box;
}

.navbar__link {
    color: #E59500;
    display: flex;
    align-items: center;
}

.navbar__link i {
    font-size: 43px;
}

.navbar__button {
    z-index: 1000;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.5em 0.5em 0.5em 0.5em;
    transition: all ease-in-out 0.2s;
    font-size: 14px;
}
  
.navbar__button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.navbar__button span svg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
  
.navbar__button:hover {
    background-color: #ff2542;
    border: 2px solid #ff2542;
}