<!--ENCABEZADO-->
<nav>
  <div class="nav__content">
    <div class="logo"><a href="#">Fixura</a></div>
  </div>
</nav>

<!--LOGIN-->
<div class="container">
		<div class="container-form">
			<form action="" class="form">
				<h2 class="title">Registrarse</h2>
        <div class="container-input">
					<span class="material-icons">person</span>
					<input type="text" placeholder="Nombre">
				</div>
        <div class="container-input">
					<span class="material-icons">badge</span>
					<input type="text" placeholder="DNI">
				</div>
				<div class="container-input">
					<span class="material-icons">mail</span>
					<input type="text" placeholder="Correo Electronico">
				</div>
				<div class="container-input">
					<span class="material-icons">password</span>
					<input type="password" placeholder="Contraseña">
				</div>
        <div class="container-input">
					<span class="material-icons">password</span>
					<input type="password" placeholder="Confirmar Contraseña">
				</div>
        <div class="container-input">
          <span class="material-icons">map</span>
					<select id="select-departamento">
            <option disabled selected>Departamento</option>
          </select>
				</div>
        <div class="container-input">
          <span class="material-icons">explore</span>
					<select id="select-provincia">
            <option disabled selected>Provincia</option>
          </select>
				</div>
        <div class="container-input">
          <span class="material-icons">location_on</span>
					<select id="select-distrito">
            <option disabled selected>Distrito</option>
          </select>
				</div>
				<button type="submit" class="btn">Registrarse</button>
				<p class="switch-animation">¿Tienes un cuenta? <a href="#"><b>Inicia Sesion</b></a></p>
			</form>
		</div>
		<div class="container-image">
			<img src="images/register.svg" alt="">
		</div>
</div>
