@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, h2, p, select{
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a img{
  width: 100px;
  height: 80px;
}



/* LOGIN */

/*Contenedor principal*/
.container{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  max-width: 780px;
  overflow: hidden;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container::before{
  content: '';
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #4481eb, #04befe);
  top: -10%;
  left: 48%;
  transform: translateY(-50%);
}

/*Contenedor del form, boton y texto*/
.container-form{
  width: 600px;
  height: 100%;
  margin: 7px 30px;
  font-size: 25px;
  color: #000;
}

/*Boton del formulario*/
.title{
  width: auto;
  height: auto;
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.container-form form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*Inputs del formulario*/
.container-input{
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 5px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
}

/*Iconos de los inputs*/
.container-input span{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.3rem;
}

.container-input input{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  color: #333;
  font-size: 13px;
  font-weight: 600;
}

.container-input input::placeholder{
  color: #aaa; 
  font-weight: 450;
}

.container-input select{
  line-height: 1;
  background: none;
  outline: none;
  border: none;
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
}

.container-input select option{
  background-color: #000; 
}

p{
  font-size: 13px;
}

/*Boton del formulario*/
.btn{
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #5995fd;
  color: #fff;
  margin: 10px 0px;
  transform: .5s;
  font-size: 13px;
  font-weight: 600;
}

.btn:hover{
  background-color: #4d84e2;
}

/*Contenedor de la imagen*/
.container-image{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-image img{
  width: 100%;
}

.invalid {
  border: 2px solid red;
}

.container-message{
  display: flex;
  width: 100%;
}

.error-message {
  width: auto;
  height: auto;
  color: red;
  font-size: 13px;
  margin-left: 20px;
}

.container-check{
  display: flex;
  width: 100%;
  padding-left: 23px;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
}

.container-check span{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px){
  .container-image{
    display: none;
  }

  .container::before{
    content: none;
  }

  .container{
    width: 90%;
  }
}

@media screen and (max-width: 580px){
  .container{
    width: 90%;
  }
}