<!--ENCABEZADO-->
<nav>
  <div class="nav__content">
    <div class="logo"><a href="#">Fixura</a></div>
  </div>
</nav>

<!--REGISTER-->
<div class="container">
		<div class="container-form">
			<form [formGroup]="formUsuario" action="" class="form">
				<h2 class="title">Registrarse</h2>
        <div class="container-input">
					<span class="material-icons">badge</span>
					<input type="text" inputmode="numeric" placeholder="DNI" formControlName="dni" (input)="onDniInput($event)" maxlength="8">
				</div>
				<div class="container-input">
					<span class="material-icons">mail</span>
					<input type="text" placeholder="Correo Electronico" formControlName="correo">
				</div>
				<div class="container-input">
					<span class="material-icons">password</span>
					<input id="password" type="password" placeholder="Contraseña" formControlName="contrasenia" (input)="onPasswordInput(formUsuario.get('contrasenia')?.value)">
				</div>
				<div class="container-check" *ngIf="formUsuario.get('contrasenia')?.value">
					<span><label [ngStyle]="{color: getLabelColor(passwordChecked.hasNumber)}" class="material-icons">check</label> Contiene Numeros</span>
					<span><label [ngStyle]="{color: getLabelColor(passwordChecked.hasUpperCase)}" class="material-icons">check</label>Contiene Mayusculas</span>
					<span><label [ngStyle]="{color: getLabelColor(passwordChecked.hasLowerCase)}" class="material-icons">check</label>Contiene Minusculas</span>
					<span><label [ngStyle]="{color: getLabelColor(passwordChecked.hasSpecialChar)}" class="material-icons">check</label>Contiene Caracteres Especiales</span>
				</div>
        <div [class.invalid]="formUsuario.get('confirmarContrasenia')?.invalid && formUsuario.get('confirmarContrasenia')?.touched" class="container-input">
					<span class="material-icons">password</span>
					<input id="conf_password" type="password" placeholder="Confirmar Contraseña" formControlName="confirmarContrasenia">
				</div>
				<div class="container-message" *ngIf="formUsuario.get('confirmarContrasenia')?.errors?.['mismatch'] && formUsuario.get('confirmarContrasenia')?.touched">
					<span class="error-message">Las contraseñas no coinciden</span>
				</div>
        <div class="container-input">
          <span class="material-icons">map</span>
					<select id="select-departamento" (change)="onDepartamentoChange($event)">
            <option disabled selected>Departamento</option>
						<option *ngFor = "let departamento of listDepartamento" [value] = "departamento.id_departamento">{{departamento.nombre}}</option>
          </select>
				</div>
        <div class="container-input" *ngIf="selectedDepartamento">
          <span class="material-icons">explore</span>
					<select id="select-provincia" (change)="onProvinciaChange($event)">
            <option disabled selected>Provincia</option>
						<option *ngFor="let provincia of listProvincia" [value] = "provincia.id_provincia">{{provincia.nombre}}</option>
          </select>
				</div>
        <div class="container-input" *ngIf="selectedProvincia && selectedDepartamento">
          <span class="material-icons">location_on</span>
					<select id="select-distrito" (change)="onDistritoChange($event)">
            <option disabled selected>Distrito</option>
						<option *ngFor="let distrito of listDistrito" [value] = "distrito.id_distrito">{{distrito.nombre}}</option>
          </select>
				</div>
				<button type="submit" class="btn" (click)="registrarUsuario()">Registrarse</button>
				<p class="switch-animation">¿Tienes un cuenta? <a [routerLink]="['/login']"><b>Inicia Sesion</b></a></p>
			</form>
		</div>
		<div class="container-image">
			<img src="images/register.svg" alt="">
		</div>
</div>
