@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*------------configuracion de layout------------*/

body{  
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.main{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.muro {
    position: absolute;
    display: flex;
    width: 100%;;
    background-color: rgb(234, 246, 255);
    justify-content: center;
}
/* Imagen de fondo */
/* .banner{
    width:100%;
    height: 300px;
    background: linear-gradient(to bottom,rgba(4, 9, 30, 0) 70%, rgba(4,9,30,0.7) 100%),url('/images/municipalidad-trujillo.jpg') no-repeat center top;
    background-size: cover;
    background-position: center;
    position: relative;
} */
/*-----------cabecera de muro personal-------------*/
.portada-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.portada-perfil-superior{
    position: relative;
    width: 100%;
    height: 6vw;
    background: #23A1F5;
    background-size: cover;
}
.portada-perfil-inferior{
    width: 100%;
    min-height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.container-botones{
    display: flex;
    align-items: center;
}

.foto-perfil{
    user-select: none;
    position: absolute;
    bottom: -60px;
    left: 3%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid white;
}


/*----------ICONO DE NOTIFICACION-------------*/
.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform .2s;
}

.notification-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #DA1212;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
}

.notification-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.notification-icon button{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.notification-icon .mat-icon{
    height: 30px !important;
    width: 30px !important;
    font-size: 30px !important;
    background-color: #EAF6FF;
}

.notification-icon .mat-icon:hover{
    animation:  shake 1.0s;
}

.custom-menu-item {
    padding: 10px 20px;
}

.custom-menu-item-span{
    font-size: 14px;
    font-weight: 500;
}

.custom-menu-item:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

@keyframes shake {
    10%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(-10deg);
    }
}

.notification:hover{
    transform: scale(1.1);
}

.portada-perfil-superior::before{
    content: '';
    position: absolute;
    bottom: -70px;
    left: 2%;
    width: 145px;
    height: 145px;
    background: radial-gradient(circle, rgba(255,255,255,0.5), rgba(255,255,255,0));
    border-radius: 50%;
    pointer-events: none;
}

/* .muro__header-perfil {

    height: 13rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.muro__perfil-info {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.muro__perfil-img {
    height: 150px;
    max-width: auto;
    border-radius: 50%
}

.muro__perfil-details {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    margin-left: 10px;
}

.muro__perfil-data {
    font-family: 'Poppins', sans-serif;
}

.muro__perfil-configuracion {
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.muro__perfil-editar {
    display: flex;
    align-items: center;
    color: white;
}

.muro__perfil-editar i {
    margin-left: 5px;
    font-size: 24px;
} */

/*----------cabecera apartado reportes-----------*/
/* .reportes__header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
} */

.reportes__title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
}

.reportes__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    margin: 0px 10px;
    /* margin-right: 12%; */
}
/* Columnas */
.muro__col-mid {
    padding-top: 3vw;
    margin:0 1vw;
    max-width: 50%;
  }

.muro__col-izq, .muro__col-der {
    padding-top: 5vw;
    width: 20%;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}
.panel-herramientas{
    margin:0 1vw; 
    user-select: none;
    padding: 10px;
    background-color: rgb(231, 245, 255);
}
.herramienta {
    cursor: pointer;
    background-color: rgb(231, 245, 255);
    margin-bottom: 1px;
    margin-left: 0px;
    padding: 10px;
    transition: background-color 0.2s ease-in;
}
.herramienta:hover {
    background-color: #6f99e7; 
    color: #ffffff; 
}
.elemento{
    background-color: #d0d0d0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.herramientas-title{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-inline-start: 10px;
}
.flecha-despliegue{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
.cabecera-herramienta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.flecha-despliegue.rotate{
    transform: rotate(180deg);
}
.contenedor-herramientas {
    max-height: 0;
    transform: scaleY(0); 
    transform-origin: top;
    opacity: 0; 
    transition: transform 0.3s ease-in-out, max-height 0.2s ease, opacity 0.2s ease-in-out; 
    overflow: hidden;    
}
.contenedor-herramientas.mostrar {
    max-height: 100vh;
    transform: scaleY(1);
    opacity: 1; 
}
/* ------------FILTROS----------------------- */
.filtros{
    margin:0 1vw; 
    padding: 10px;
    background-color: #6f99e7;
}
/* -----------------------MAPA-------------------------- */
.vacio {
    height: 50px;
    min-width: 2000px;
}
.mapa-container.oculto {
    display: none; /* Oculta el mapa completamente */
}

.mapa-container.visible {
    display: block; /* Muestra el mapa cuando está activo */
}

.usuarios-container.oculto {
    display: none; /* Oculta el mapa completamente */
}

.usuarios-container.visible {
    display: block; /* Muestra el mapa cuando está activo */
    margin-top: 50px;
}

.usuarios-container {
    display: flex;
}

.consolidacion-container.oculto {
    display: none; /* Oculta el consolidacion completamente */
}

.consolidacion-container.visible {
    display: block; /* Muestra el consolidacion cuando está activo */
}

.consolidacion-container {
    margin-top: 2rem; /* Muestra el consolidacion cuando está activo */
}

.container-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    line-height: 1.5;
    padding: 5px 10px;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    height: 36px;
    margin-left: 10px;
    transition: width 0.4s ease-in-out;
}

.usuarios-container .container-search img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-user{
    width: 0;
    background: #dee1e2;
    margin-left: 10px;
    border: none;
    outline: none;
    transition: width 0.4s ease-in-out;
    opacity: 0;
}

.search-user.expanded {
    width: 200px; 
    opacity: 1;
}

.container-search.expanded {
    width: 400px; 
    border-radius: 15px;
}

