@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*------------configuracion de layout------------*/

.body{
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;

}
.muro {

    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: rgb(234, 246, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
/* Imagen de fondo */
.banner{
    width:100%;
    height: 300px;
    background: linear-gradient(to bottom,rgba(4, 9, 30, 0) 70%, rgba(4,9,30,0.7) 100%),url('/images/municipalidad-trujillo.jpg') no-repeat center top;
    background-size: cover;
    background-position: center;
    position: relative;
    /* background-attachment: fixed; */
}
/*-----------cabecera de muro personal-------------*/
.portada-perfil{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.portada-perfil-superior{
    position: relative;
    width: 100%;
    height: 120px;
    background: #23A1F5;
    background-size: cover;
}
.portada-perfil-inferior{
    min-height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.foto-perfil{
    position: absolute;
    bottom: -60px;
    left: 3%;
    
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid white;

}

.portada-perfil-superior::before{
    content: '';
    position: absolute;
    bottom: -70px;
    left: 2%;
    /* transform: translateX(-100%); */
    width: 145px;
    height: 145px;
    background: radial-gradient(circle, rgba(255,255,255,0.5), rgba(255,255,255,0)); /*Gradiente que se desvanece*/
    border-radius: 50%;
    pointer-events: none;
}

/* .muro__header-perfil {

    height: 13rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.muro__perfil-info {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.muro__perfil-img {
    height: 150px;
    max-width: auto;
    border-radius: 50%
}

.muro__perfil-details {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    margin-left: 10px;
}

.muro__perfil-data {
    font-family: 'Poppins', sans-serif;
}

.muro__perfil-configuracion {
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.muro__perfil-editar {
    display: flex;
    align-items: center;
    color: white;
}

.muro__perfil-editar i {
    margin-left: 5px;
    font-size: 24px;
} */

/*----------cabecera apartado reportes-----------*/
/* .reportes__header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
} */

.reportes__title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.reportes__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    /* margin-right: 12%; */
}
/* Columnas */
.muro__col-mid {
    margin-top: 3%;
    max-width: 946px;
    min-width: 946px;
  }

.muro__col-izq, .muro__col-der {
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 25%;
    border-radius: 10px;
    background-color: #f8f9fa;
    position: fixed;
    margin-top: 4%;
    height: 100%;
    padding: 20px;
}
.muro__col-izq{
    left: 0;
}
.muro__col-der {
    right: 0;
}
.panel-herramientas{
    user-select: none;
    margin-left: 30%;
    background-color: rgb(231, 245, 255);
}
.herramienta {
    cursor: pointer;
    background-color: rgb(231, 245, 255);
    margin-bottom: 1px;
    margin-left: 0px;
    padding: 10px;
    transition: background-color 0.2s ease-in;
}
.herramienta:hover {
    background-color: #6f99e7; 
    color: #ffffff; 
}
.panel-noticias{
    padding: 10px;
}
.elemento{
    background-color: #d0d0d0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.herramientas-title{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-inline-start: 10px;
}
.flecha-despliegue{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.cabecera-herramienta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.flecha-despliegue{
    transition: transform 0.3s ease;
}
.flecha-despliegue.rotate{
    transform: rotate(180deg);
}
.contenedor-herramientas {
    max-height: 0;
    transform: scaleY(0); 
    transform-origin: top;
    opacity: 0; 
    transition: transform 0.3s ease-in-out, max-height 0.2s ease, opacity 0.2s ease-in-out; 
    overflow: hidden;    
}
.contenedor-herramientas.mostrar {
    max-height: 100vh;
    transform: scaleY(1);
    opacity: 1; 
}
/* -----------------------MAPA-------------------------- */
.vacio {
    height: 50px;
}
.mapa-container.oculto {
    display: none; /* Oculta el mapa completamente */
}

.mapa-container.visible {
    display: block; /* Muestra el mapa cuando está activo */
}