<app-navbar-usuario></app-navbar-usuario>
<main class="body">
    <div class = "muro">
        <aside class="muro__col-izq">
            <div class = "panel-herramientas">
                <div class = "cabecera-herramienta" (click)="toggleHerramientas()">
                    <h3 class ="herramientas-title">Herramientas</h3>
                    <img class="flecha-despliegue" src="/images/flecha-abajo.png" alt="Flecha Despliegue" [ngClass]="{'rotate': mostrarHerramientas}">
                </div>
                <div class="contenedor-herramientas" [ngClass]="{'mostrar': mostrarHerramientas}">
                    <div class = "herramienta" (click)="mostrarPerfil()">Ir a Muro</div>
                    <div class = "herramienta" (click)="mostrarMapa()">Mapa de Incidencias</div>
                    <div class = "herramienta" (click)="mostrarUsuarios()">Bloquear Usuarios</div>
                    <div class = "herramienta" (click)="mostrarConsolidacion()">Incidencias consolidadas</div>
                </div>
            </div>      
        </aside>
        <section class="muro__col-mid" 
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="150" 
        (scrolled)="onScroll()">
            <div *ngIf="vistaActiva === 'perfil'|| vistaActiva === 'masVotadas'">
                <div class = "portada-perfil">
                    <div class = "portada-perfil-superior">
                        <img class="foto-perfil" src="{{ imageMuniciapalidad }}" alt="Foto de perfil">
                    </div>
                    <div class = "portada-perfil-inferior">
                        <h2 class="reportes__title">{{dataUsuario?.nombre}} {{dataUsuario?.apellido}}</h2>
                        <div class="container-botones">
                            <button type="button" class="btn btn-primary reportes__button">
                                <i class="material-icons">edit</i>
                                Editar Perfil
                            </button>
                            <div class="boton-notificacion">
                                <div class=notification>
                                    <div class="notification-icon">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" [disableRipple]="true" (click)="resetCount()">
                                            <mat-icon>notifications</mat-icon>
                                        </button>
                                    </div>
                                    <div class="notification-count" *ngIf="notificacionesCount > 0">
                                        <span>
                                            {{notificacionesCount}}
                                        </span>
                                    </div>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item *ngFor="let notificacion of notificaciones" class="custom-menu-item">
                                        <span class="custom-menu-item-span">{{notificacion}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <h2 class="reportes__title">{{ nameMunicipalidad }}</h2>
                        <button type="button" class="btn btn-primary reportes__button">
                            <i class="material-icons">edit</i>
                            Editar Perfil
                        </button>
                    </div>
                    <div class="container-alert" *ngIf="!existIncidentes">
                        <alert type="warning">
                        No hay incidentes registrados
                        </alert>
                    </div>
                    
                </div>

                <app-post-incidencia 
                    *ngFor="let infoIncidente of listIncidentes"
                    [infoIncidente]="infoIncidente"
                    [listDistritoCoordenadas]="listDistritoCoordenadas"
                    (imagenClick)="openImageModal($event)">

                    <ng-container slot="extra-button">
                        <button type="button" class="btn btn-success"
                        (click)="openDialog(infoIncidente.id_incidencia)">Añadir a Consolidación</button>
                    </ng-container>
                </app-post-incidencia>

            </div>
            <div class="mapa-container" [ngClass]="{ 'visible': vistaActiva === 'mapa', 'oculto': vistaActiva !== 'mapa'}">
                <div class="vacio">
                </div>
                <app-mapa-incidencias [distrito]="dataUsuario?.idDist" [listDistritoCoordenadas]="listDistritoCoordenadas"></app-mapa-incidencias>
            </div>
            <div class="usuarios-container" [ngClass]="{ 'visible': vistaActiva === 'usuarios', 'oculto': vistaActiva !== 'usuarios'}">
                <div class="container-search" [ngClass]="{'expanded': isExpanded}">
                    <img src="/images/search.svg" alt="Buscar Usuarios" (click)="openInput()">
                    <input 
                        class="search-user" 
                        type="text" 
                        [placeholder]="isExpanded ? 'Buscar Usuario...' : ''"  
                        [ngClass]="{'expanded': isExpanded }" 
                        [formControl]="control">
                </div>
                <app-block-users
                    *ngFor="let usuario of usuariosFiltrados"
                    [usuario]="usuario">

                    <div class="container-alert" *ngIf="!existUser">
                        <alert type="warning">
                        No hay usuarios registrados
                        </alert>
                    </div>
                    
                </app-block-users>
            </div>

            <div class="consolidacion-container" [ngClass]="{ 'visible': vistaActiva === 'consolidacion', 'oculto': vistaActiva !== 'consolidacion'}">
                <app-post-incidencia 
                    *ngFor="let infoIncidente of listIncidentes"
                    [infoIncidente]="infoIncidente"
                    [listDistritoCoordenadas]="listDistritoCoordenadas"
                    (imagenClick)="openImageModal($event)">
                </app-post-incidencia>
            </div>
        </section>
        <ng-template #noData>
            <p>No hay incidentes para mostrar.</p>
        </ng-template>
        <aside class="muro__col-der">
            <section class="filtros">
                <h2>Filtros</h2>
                <button (click)="aplicarFiltroMasVotados()" class="btn btn-primary">
                Más Votadas
                </button>
            </section>
        </aside>
    </div>
</main>

<app-image-modal 
*ngIf="isModalActive"
[imageIncidente]="selectedImage" 
(closeModal)="closeImageModal()">
</app-image-modal>
