/*------------configuracion de layout------------*/
.muro {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

/*-----------cabecera de muro personal-------------*/
.muro__header-perfil {
    background-image: radial-gradient(circle, #5bd1f1, #4eccf3, #41c7f5, #34c2f7, #2abcf9, #1db6f9, #12b0f9, #0ea9f9, #02a1f7, #0598f4, #138ff0, #2186ec);
    height: 13rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgba(56, 56, 56, 0.25) 0px 14px 28px, rgba(58, 58, 58, 0.22) 0px 10px 10px;
}

.muro__perfil-info {
    width: auto;
    height: 150px;
    display: flex;
}

.muro__perfil-img-container {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden; /* Oculta los bordes excedentes de la imagen */
}

.muro__perfil-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen y asegura que mantenga la proporción */
    object-position: center; /* Centra la imagen en el contenedor */
    border-radius: 50%;
}

.muro__perfil-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}

.muro__perfil-details span {
    margin: 0%;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.muro__perfil-details p {
    margin: 0%;
    font-size: 14px;
    color: black;
}

.muro__perfil-configuracion {
    height: 150px;
    display: flex;
    align-items: flex-end;
}

/* .muro__perfil-editar {
    display: flex;
    align-items: center;
    color: black;
}

.muro__perfil-editar i {
    margin-left: 5px;
    font-size: 24px;
} */

.perfil-config-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 36px;
    width: 120px;
    border: none;
    background: #5e41de33;
    border-radius: 20px;
    cursor: pointer;
}
  
.lable {
    line-height: 20px;
    font-size: 17px;
    color: #5D41DE;
    letter-spacing: 1px;
}
  
.perfil-config-button:hover {
    background: #5e41de4d;
}
  
.perfil-config-button:hover .svg-icon {
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

/*----------cabecera apartado reportes-----------*/
.reportes__header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}

.reportes__title {
    text-align: center;
    margin: 0;
}


.reportes__button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1000;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.5em 1.2em 0.5em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}
  
.reportes__button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
  
.reportes__button:hover {
    background-color: #0071e2;
}
  

.muro__post-container {
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
}