/*------------configuracion de layout------------*/
.muro {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

/*-----------cabecera de muro personal-------------*/
.muro__header-perfil {
    background: #E59500;
    height: 13rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.muro__perfil-info {
    width: auto;
    height: 150px;
    display: flex;
}

.muro__perfil-img {
    height: 150px;
    max-width: auto;
    border-radius: 50%
}

.muro__perfil-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}

.muro__perfil-data {
    margin: 0%;
}

.muro__perfil-configuracion {
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.muro__perfil-editar {
    display: flex;
    align-items: center;
    color: black;
}

.muro__perfil-editar i {
    margin-left: 5px;
    font-size: 24px;
}

/*----------cabecera apartado reportes-----------*/
.reportes__header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reportes__title {
    text-align: center;
    margin: 0;
}

.reportes__button {
    position: absolute;
    right: 25px;
    display: flex;
    align-items: center;
}
/* Estilo para el fondo oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px; 
}
/* Estilos para centrar el formulario */
.formulario-contenedor {
  background: #E59500;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative; 
  max-height: 90vh;
  overflow-y: auto;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.close-button :hover{
    color: #840032;
}
