<div class="post">
    <div class="post__header">
        <div class="post__info">
            <img class="post__info-img" src="images/fotoPerfil.jpg" alt="Foto de perfil">

            <div class="post__info-details">
                <p class="post__info-data post__info-user-name"><b>Juanito alimaña</b></p>
                <p class="post__info-data post__info-fecha">08/09/2024</p>
                <p class="post__info-data post__info-categoria"><b>Categoria: </b>categoria 1</p>
            </div>
        </div>

        <div class="post__ranking">
            <p class="post__ranking-estado">
                <b>Estado</b>
                <i class="material-icons">radio_button_checked</i>
            </p>

            <div class="post__ranking-voto">
                <button class="btn post-ranking__voto-btn">
                    <i class="material-icons">thumb_down</i>
                </button>
                <button class="btn post-ranking__voto-btn">
                    <i class="material-icons">thumb_up</i>
                </button>
            </div>
        </div>
    </div>

    <p class="post__descripcion">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati tenetur vitae velit architecto voluptatum dolorem facere tempore enim tempora incidunt. Pariatur distinctio quaerat ipsam assumenda nihil sed modi aspernatur enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, eveniet voluptatem nostrum facere explicabo qui aut doloribus quibusdam doloremque at quasi harum aperiam praesentium labore dolores, placeat ipsum perspiciatis ea.
    </p>

    <p class="post__ubicacion">
        <b>Ubicacion: </b>
        454 Jirón Diego De Almagro
    </p>

    <div class="post__incidencia">
        <img class="post__incidencia-img" src="images/calle.jpg" alt="Foto de perfil">
    </div>

</div>
