<div class="card">
    <div class="post">
        <div class="post-container">
            <div class="user">
                <div class="user-pic">
                    <img src="images/fotoPerfil.jpg" alt="Foto de perfil">
                </div>
                <div class="user-info">
                    <span>Juanito Alimaña</span>
                    <p>Miércoles, 13 de marzo a las 2:45pm</p>
                </div>
            </div>
            <p class="category-content"><span>Categoria: </span>Categoria 01</p>
            <p class="comment-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt tempore beatae quae itaque! Deserunt vel ab sunt eum architecto ullam recusandae nam. Officia perspiciatis, eos modi eius natus odio.
            </p>
            <p class="location-content"><span>Ubicacion: </span>Trujillo-Trujillo</p>
        </div>

        <div class="comment-react">
            <div class="content-state">
                <svg fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                    </svg> 
            </div>
            <hr>
            <button (click)="toggleActive()" [ngClass]="{'active': isActive}">
                <svg fill="none" viewBox="0 0 24 24" height="19" width="19" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd" />
                  </svg>                  
            </button>
            <hr>
            <span>14</span>
        </div>
    </div>
    <div class="post-img-content">

    </div>
  </div>