.card {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
}
  
.post {
    display: grid;
    grid-template-columns: 1fr 35px;
    gap: 20px;
    padding: 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}
  
.post-container .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}
  
.post-container .user .user-pic {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden; /* Oculta los bordes excedentes de la imagen */
}

.post-container .user .user-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen y asegura que mantenga la proporción */
    object-position: center; /* Centra la imagen en el contenedor */
    border-radius: 50%;
}

.post-container .user .user-info {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}
  
.post-container .user .user-info span {
    font-weight: 700;
    font-size: 16px;
    color: #47484b;
}
  
.post-container .user .user-info p {
    font-weight: 600;
    font-size: 11px;
    color: #acaeb4;
}

.post-container .category-content span {
    font-weight: 700;
    font-size: 15px;
    color: #47484b;
}

.post-container .category-content {
    margin: 0%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #5f6064;
}
  
.post-container .comment-content {
    margin: 0%;
    font-size: 14px;
    line-height: 16px;
    color: #5f6064;
}

.post-container .location-content span{
    font-weight: 700;
    font-size: 15px;
    color: #47484b;
}

.post-container .location-content {
    margin: 0%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #5f6064;
}

/*---------------------------------------*/
.comment-react {
    width: 35px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.comment-react .content-state {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-react .content-state .state--pending {
    fill: #be0f0f;
}
.comment-react .content-state .state--in-progress {
    fill: #e6c925;
}
.comment-react .content-state .state--completed {
    fill: #31b320;
}

  
.comment-react button {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
}
  
.comment-react button:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    background-color: #f7ca03;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
}
  
.comment-react button svg {
    position: relative;
    fill: #707277;
    z-index: 9;
}
  
.comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
}
  
.comment-react button:hover svg {
    fill: #f7ca03;
}
  
.comment-react button:hover svg path {
    stroke: #f7ca03;
    fill: #f7ca03;
}

.comment-react button.active svg {
    fill: #f7ca03;
}
  
.comment-react button.active svg path {
    stroke: #f7ca03;
    fill: #f7ca03;
}

.comment-react button.active:after {
    animation: none;
}

.comment-react button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: box-shadow 0.2s ease; /* Transición para el box-shadow */
}
  
.comment-react hr {
    width: 80%;
    height: 1px;
    background-color:#dfe1e6;
    margin: auto;
    border: 0;
}
  
.comment-react span {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #707277;
}
  
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
/*--------------------------------*/
.post-img-content {
    height: 20rem;
    width: 100%-1px; /* Ocupará todo el ancho del contenedor padre */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Oculta los bordes excedentes de la imagen */
}

.post-img-content img {
    height: auto;
    width: 14rem;
    object-fit: cover; /* Recorta la imagen y asegura que mantenga la proporción */
    object-position: center; /* Centra la imagen en el contenedor */
}