.modal-body {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.container-img {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
    width: auto;
    height: 45rem;
}

.container-img img {
    width: auto;
    height: 45rem;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container-img {
        width: 20rem;
        height: auto;
    }

    .container-img img {
        width: 20rem;
        height: auto;
    }
}